# Xcode
.DS_Store
*/build/
*.derivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Swift Package Manager
.build/

# Logs
Logs/

# Outros
*.moved-aside
*.xccheckout
*.xcscmblueprint